html { background-color: #babcd2; color: black; }

body {
  font-family: 'Open Sans', sans-serif;
  max-width: 36em;
  margin: 0 auto;
  padding-left: 0.1em;
  padding-right: 0.1em;
}

a { text-decoration: none; color: #3366cc; }
a:visited { color: gray; }
a:hover { text-decoration: underline; color: #3399ff; }
a:visited:hover { text-decoration: underline; color: #3399ff; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Muli', sans-serif;
  font-weight: 500;
  margin: 0;
}

pre {
  font-family: 'Inconsolata', monospace;
  white-space: pre-wrap;
  padding: 0;
  margin: 0;
}

img { border: 0; }

ul { list-style-type: square; }

.menu a { text-decoration: none; }
.menu a:hover { text-decoration: underline; }

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 95%;
}

.menu ul li ul {
  font-weight: normal;
  font-size: 95%;
  margin-left: 10px;
}

.listingblock, .literalblock {
  color: #0000aa;
  border: 1px solid #aaaaaa;
  background-color: #d8d8d8;
  padding: 0.17em;
  margin: 0.2em;
  overflow: auto;
}

.quoteblock {
  border-left: 5px solid #f0f0f0;
  padding-left: 1em;
  margin-left: 2em;
}

td .listingblock {
  padding: 0;
  margin: 0;
  border: 0;
  //background-color: white;
}

td p {
  padding: 0;
  margin: 0;
}

.disabledlink {
  text-decoration: none;
  font-weight: bold;
  font-size: 95%;
}

.footer {
  clear: both;
  border-top: 1px solid #aaaaaa;
  padding: 0.5em;
  font-size: 90%;
}
